
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}


h1 {
    font-size: 36px;
    color: #333333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    position: relative;
       transition: color 0.3s;
}

h1::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
     transition: width 0.3s, background-color 0.3s;
    background-color: #007bff;
}
h1:hover {
     cursor: pointer;
    color: #007bff;
}

h1:hover::after {
     cursor: pointer;
    width: 100px;
    background-color: #0056b3;
}

.brilliant-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #4CAF50;
    color: #ffffff;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid #4CAF50;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.brilliant-button:hover {
    background-color: #45a049;
    border-color: #45a049;
}


